<!--{% load crispy_forms_tags %}-->
<!DOCTYPE html>
{% load static %}

<html lang="en">
<!--<h1>{{ static }}</h1>-->
<!--<img src='{% static "images/TEDxIITGuwahati1.png" %}' alt="LOGO">-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Partners | TEDxIITGuwahati</title>

    <!-- Favicon -->
    <link rel="icon" href='{% static "img/core-img/favicon.png" %}'/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href='{% static "style.css" %}'/>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                   <a class="nav-brand" href="/"><img src='{% static "images/ted_white.png" %}' alt="" width="390"/></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <ul class="dropdown">
                                    <li class="dropdown1"><a href="#">Speakers</a></li>
                                     <div class="dropdown-content">
                                     <a href="/speakers.html">TEDxIITGuwahati</a>
                                     <a href="/speakers.html/form2.html">TEDxIITGuwahatiStudio</a> 
                                    </div>
                                  </ul>
                                <li><a href="/blog.html">Blogs</a></li>
                                <li><a href="/about_us.html">About Us</a></li>
                                <li class="active"><a href="/partners.html">Partners</a></li>
                                <li><a href="/contact.html">Contact Us</a></li>
<!--                                <li><a href="#">Nominate</a>-->
<!--                                    <ul class="dropdown">-->
<!--                                        <li><a href="nominate_speaker.html">Nominate a Speaker</a></li>-->
<!--                                        <li><a href="nominate_yourself.html">Nominate Yourself</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>

                            <!-- Get Tickets Button -->
<!--                            <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="about-us-countdown-area section-padding-80-0" style="background-color: #ffffff" id="about">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="about-content-text mb-80" data-wow-delay="300ms">
                            <hr class="wow fadeInUp" data-wow-delay="300ms" style="width: 9rem; height:6.5px; margin-left:0px; background-color:#FF2B06; border-radius: 1.5px;margin-top: 15%;">
                            <h3 class="wow fadeInUp" data-wow-delay="300ms" style="font-size: 175%;">TED<span style="text-transform: lowercase;">x</span>IITG Partners</h3>
                            <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;">Title Partners: Edukemy</p>
                            <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                                TEDxIITGuwahati proudly announces Edukemy as its Title Sponsor for TEDxIITGuwahatiStudio. 
                                <br>
                                Edukemy is India's first non-STEM-focused EdTech startup striving to offer an immersive and personalised learning experience through an industry-leading AI-based evaluation system. Edukemy wants to build a community to help students prepare in a guided manner for the Civil services examination. 
                                Join the link to their Telegram group consisting of professionals with a cumulative 80+ years of experience guiding aspirants, crack this prestigious examination.
                                <br>
                                Link to telegram group: <a style="color:#FF2B06;" href=" https://t.me/joinchat/hISJ87YTLMQ4MDU9">Telegram Group.</a>
                                <br>
                                Students interested or are preparing for the Civil services exam please do fill the following form to avail some of the benefits provided by Edukemy for the students of IIT Guwahati.
                                <br>
                                Link to the form: <a style="color:#FF2B06;" href="https://forms.gle/P52YqoZQQ43sUHER8 ">Form.</a>
                                <br>
                                Also, check out their website at: <a style="color:#FF2B06;" href=" https://edukemy.com/">Edukemy Webpage.</a>
                            </p> 
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="iframe-container">
                            <style>
                                
                            .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                            @media only screen and (max-width: 991px){
                                .embed-container{
                                    height: 300;
                                }
                            }
                            </style>
                                <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="margin-top: 5%;">
                                    <video width="500" autoplay loop muted>
                                        <source src='{% static "video/edukemy.mp4" %}' type="video/mp4">
                                        <source src='{% static "video/edukemy.mp4" %}' type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>
    
        </div>
    </section>
    <section class="about-us-countdown-area section-padding-40-0" style="background-color: #ffffff" id="about">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="about-content-text mb-80" data-wow-delay="300ms">
                           <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 10px;">Branding Partner: Coding Ninjas</p>
                            <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                                TEDxIITGuwahati proudly announces Coding Ninjas as its Branding Partner.
                                <br>
                                Coding Ninjas is one of the largest online tech education companies in India focusing on teaching Coding and other Programming courses. Their mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered.
                                <br>
                                Coding Ninjas has trained over 50,000+ students over 5 years 5,000+ students having been placed in tech giants. Founded in 2016. Run by a team of top-notch developers turned educators from IIT, Stanford, IIIT, DTU, Facebook, Amazon, and Google.
                                Whether it’s Job-Ready Career & Training Courses, Webinars, Mock Interviews, Placement Support, Live Doubt Resolution, or Industry expert guidance, Coding Ninjas has got it all.
                                <br>
                                Also, check out their website at: <a style="color:#FF2B06;" href=" https://www.codingninjas.com/">Coding Ninjas Webpage</a>
                            </p> 
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="iframe-container" style="padding-bottom:12%;">
                            <style>
                            .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                            </style>
                                <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);">
                                    <img src='{% static "images/coding_ninjas.png" %}' alt="" >
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>
    
        </div>
    </section>
        <!-- About Us And Countdown Area End -->





<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-10-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Footer Logo -->
                        <a href="/" class="footer-logo"><img src='{% static "images/ted_white.png" %}' alt=""></a>
                        <!-- <p>Ideas Worth Spreading</p> -->

                        <!-- Social Info -->
                        <!-- <div class="social-info">
                            <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxiitguwahati.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a> -->
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                        <!-- </div> -->
                    </div>
                </div>

                <!-- Single Footer Widget Area  col-lg-3 -->
                <div class="col-12 col-sm-6">
                   <div class="single-footer-widget mb-60">
                       <br />
                        <h5 class="widget-title">Ideas Worth Spreading</h5>
                        <div class="footer-contact-info">
                            <p>This independent TEDx is operated under license from TED</p>
                            <!-- <p><i class="zmdi zmdi-map"></i> IIT Guwahati</p> -->
                            <!-- <p><i class="zmdi zmdi-phone"></i> Jaikishan Mansukhani:</p><p style="margin-left: 15px">+91 90757 19391 </p>
                            <p><i class="zmdi zmdi-email"></i> iitg.tedx@gmail.com</p> -->

                        </div>
                    </div>
                </div>
                

                <!-- Single Footer Widget Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                   <div class="single-footer-widget mb-60">
                       <div class="social-info">
                      <br>
                        <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxiitguwahati.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                    </div>

                   </div>
               </div>

                <!-- Single Footer Widget Area -->
<!--                    <div class="col-12 col-sm-6 col-lg-3">-->
<!--                        <div class="single-footer-widget mb-60">-->
<!--                            &lt;!&ndash; Widget Title &ndash;&gt;-->


<!--                            &lt;!&ndash; Footer Gallery &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </div>

<!--         Copywrite Area-->
    <!-- <div class="container">
        <div class="copywrite-content">
            <div class="row"> -->
                <!-- Copywrite Text -->
                <!-- <div class="col-12 col-md-6">
                    <div class="copywrite-text"> -->
                        <!--<p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                            <!-- This independent TEDx event is operated under license from TED. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>-->
                    <!-- </div>
                </div> -->
                <!-- Footer Menu -->
<!--                    <div class="col-12 col-md-6">-->
<!--                        <div class="footer-menu">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
            <!-- </div>
        </div>
    </div> -->
</footer>
<!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown1");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          this.classList.toggle("active");
          }
          });
        }
        </script>
    <!-- jQuery 2.2.4 -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Popper -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- All Plugins -->
    <script src='{% static "js/confer.bundle.js" %}'></script>
    <!-- Active -->
    <script src='{% static "js/default-assets/active.js" %}'></script>
    <!--  Form Script  -->
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbwjDvT8tRtGUd1_gG2Ayvmhz2WEKt8frWQ2_SV22z-cKUbBIrIi/exec'
        const form = document.forms['submit-to-google-sheet']

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
              .then(location.reload())
              .catch(error => console.error('Error!', error.message))
        })
    </script>
</body>
</html>
