<!--{% load crispy_forms_tags %}-->
<!DOCTYPE html>
{% load static %}

<html lang="en">
<!--<h1>{{ static }}</h1>-->
<!--<img src='{% static "images/TEDxIITGuwahati1.png" %}' alt="LOGO">-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Partners | TEDxIITGuwahati</title>

    <!-- Favicon -->
    <link rel="icon" href='{% static "img/core-img/favicon.png" %}'/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href='{% static "style.css" %}'/>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                   <a class="nav-brand" href="/"><img src='{% static "images/ted_white.png" %}' alt="" width="390"/></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <ul class="dropdown">
                                    <li class="dropdown1"><a href="#">Talks</a></li>
                                     <div class="dropdown-content">
                                       
                                     <a href="/speakers.html/form2.html">TEDxIITGuwahatiStudio</a>
                                     <a href="/speakers.html">Past Events</a>                                    
                                    </div>
                                  </ul>
                                <li><a href="/blog.html">Blogs</a></li>
                                <li><a href="/about_us.html">About Us</a></li>
                                <li class="active"><a href="/partners.html">Partners</a></li>
                                <li><a href="/contact.html">Contact Us</a></li>
<!--                                <li><a href="#">Nominate</a>-->
<!--                                    <ul class="dropdown">-->
<!--                                        <li><a href="nominate_speaker.html">Nominate a Speaker</a></li>-->
<!--                                        <li><a href="nominate_yourself.html">Nominate Yourself</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>

                            <!-- Get Tickets Button -->
<!--                            <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
<section class="about-us-countdown-area section-padding-40-0" style="background-color: #ffffff; z-index: 100;" id="about">

    <div class="container">
        <div class="row align-items-center">
            <!-- About Content -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="about-content-text" data-wow-delay="300ms">
                            <hr class="wow fadeInUp" data-wow-delay="300ms" style="width: 15rem; height:6.5px; margin-left:0px; background-color:#FF2B06; border-radius: 1.5px;margin-top: 25%;">
                            <h3 class="wow fadeInUp" data-wow-delay="300ms" style="font-size: 190%;">TED<span style="text-transform: lowercase;">x</span>IITG<span style="text-transform: lowercase;">uwahati</span> 2022 Partners</h3>
                            <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;">Title Partners: x10xventures</p>
                            <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                                x10xventures is a technology advisory firm focused on startups and new-age investors.
                                <br><br>
                                We source, invest, and operate. 
                                <br><br>
                                We back the courageous building magical stuff, with time, energy, and capital, and our portfolio of rocketships includes BluSmart Mobility, Eat Better, Eunimart, Scooterson, Snackible, Svami, and WCube.
                                <br><br>
                                We are proud to be associated with TEDxIITGuwahati as its Title Partner. 
                                <br><br>
                                #capital + #technology + #magic
                                <br><br>
                                #integrity + #intelligence + #energy
                                <br><br>
                                #capitalallocation + #economics + #historyofscience
                                <br><br>
                                🚀🔥</p> 
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="iframe-container" style="padding-top:40%;padding-left: 23%;">
                            <style>
                            .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                            </style>
                                <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px, rgba(0, 0, 0, 0.19) 0px 1px 2px 0px; visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;height: 140px;width: 250px;">
                                    <img src="/static/images/partners_logo/x10xventures.jpg" alt="" height="260px" width="260px">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="row align-items-center">
            <!-- About Content -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="about-content-text" data-wow-delay="300ms">
                            <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 10px;">Assosiate Title Partner: Indian Talent Olympiad </p>
                            <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                            TEDxIITGuwahati proudly presents Indian Talent Olympiad as its Associate Title Partner! 
                            <br>
                            Indian Talent Olympiad is one of the leading Olympiad organizations in the country with a network of 1 crore + students. 
                            Established in 2012, it is proud to have associated with 33,175+ schools and has granted 7000+ scholarships.
                            <br>
                            Check out their website at: <a style="color:#FF2B06;" href="https://www.indiantalent.org/">Indian Talent Olympiad Webpage</a>
                            </p> 
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="iframe-container" style="padding-top:5%;padding-left: 33%;">
                            <style>
                            .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                            </style>
                                <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;height: 300px;width: 150px;">
                                    <img src="/static/images/partners_logo/ITO.jpg" alt="">
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="about-content-text" data-wow-delay="300ms">
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;">Presenting Partners: Sam and Marshall</p>
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                                    TEDxIITGuwahati proudly announces Sam and Marshall eyewear as its Presenting Partner. Sam And Marshall Eyewear brings you the best eyewear fashion, recommended by the top celebrities from all over the globe. 
                                    <br>
                                    Check out their website at: <a style="color:#FF2B06;" href="https://www.samandmarshalleyewear.in/ ">Sam And Marshall Eyewear Webpage</a>
                                    <br>
                                    Participate in the games and interaction session at TEDxIITGuwahati2022 to receive exclusive amazing gifts from Sam and Marshall Eyewear. 

                                </p> 
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="iframe-container" style="padding-top:2%;padding-left: 20%;">
                                <style>
                                .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                                </style>
                                    <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px, rgba(0, 0, 0, 0.19) 0px 1px 2px 0px; visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;height: 300px;width: 300px;padding-left: 5%;">
                                        <img src="/static/images/partners_logo/Sam_and_Marshel.jpg" alt="">
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="about-content-text" data-wow-delay="300ms">
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 10px;">Career Partner: Network Capital</p>
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                                TEDxIITGuwahati proudly announces Network Capital as its Career Partner!
                                <br>
                                Network Capital is a mentorship and career advancement platform trusted by 150,000 millennials by learning with and from some of the smartest professionals on the planet. 
                                It is funded by Facebook and featured at Harvard Business School.
                                <br>
                                <i class="zmdi zmdi-long-arrow-right"></i> Supercharge your career.
                                <br>
                                <i class="zmdi zmdi-long-arrow-right"></i> Build your category of one.
                                <br>
                                <i class="zmdi zmdi-long-arrow-right"></i> Do what you love and teach what you love with Network Capital.
                                <br>
                                Check out their website at: <a style="color:#FF2B06;" href="https://www.networkcapital.tv/">Network Capital Webpage</a>
                                </p> 
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="iframe-container" style="padding-top:2%;padding-left: 20%;">
                                <style>
                                .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                                </style>
                                    <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px, rgba(0, 0, 0, 0.19) 0px 1px 2px 0px; visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;height: 220px;width: 300px;">
                                        <img src="/static/images/partners_logo/NC-Logo.jpg" alt="" height="550px" width="550px">
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="about-content-text" data-wow-delay="300ms">
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 10px;">Official Media Partner: G Plus </p>
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                                TEDxIITGuwahati proudly presents G Plus as its Official Media Partner! 
                                <br>
                                G Plus is a Print and Digital media channel that aims to cater to the Guwahati city's exclusive needs.They bring forth Guwahati and 
                                its distinct aura through insightful stories and features to make reading always exciting. 
                                <br>
                                Download the <a style="color:#FF2B06;" href="https://play.google.com/store/apps/details?id=com.appbazooka.gplus">G Plus app</a> to read all the latest Guwahati News, Guwahati News Headlines, Exclusive News, Entertainment, Buzz Editorials and more.
        
                                Check out their website at: <a style="color:#FF2B06;" href="https://www.guwahatiplus.com/">G Plus Webpage</a>
                                </p> 
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="iframe-container" style="padding-top:2%;padding-left: 16%;">
                                <style>
                                .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                                </style>
                                    <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px, rgba(0, 0, 0, 0.19) 0px 1px 2px 0px; visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;height: 170px;width: 370px;">
                                        <img src="/static/images/partners_logo/Gplus.jpg" alt="" height="500px" width="550px">
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="about-content-text" data-wow-delay="300ms">
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 10px;">Learning Partner: Unlu</p>
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0);" align="justify"><!--In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxIITGuwahati, where x = independently organized TED event. At TEDxIITGuwahati, TED Talks videos and live speakers combine to spark deep discussion and connection among the audience. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.-->
                                TEDxIITGuwahati proudly announces Unlu as its Learning Partner!
                                <br>
                                Unlu is where the world’s top creators come to learn, connect & create. If you want to learn the art to uplevel your career, launch new content, build your brand, or make lifelong friends, this is the place for you.
                                <br>
                                Check out their website at: <a style="color:#FF2B06;" href="https://unlu.io/">Unlu Webpage</a>
                                </p> 
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="iframe-container" style="padding-top:2%;padding-left: 33%;">
                                <style>
                                .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                                </style>
                                    <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px, rgba(0, 0, 0, 0.19) 0px 1px 2px 0px; visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;height: 200px;width: 230px;">
                                        <img src="/static/images/partners_logo/unlu.jpg" alt="" height="260px" width="260px">
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="about-content-text" data-wow-delay="300ms">
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 5%;margin-bottom: 2%;text-align: center;">Gifting Partners For TEDxIITGuwahati 2022: </p>
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0); text-align: center;margin-bottom: 3%;">
                                    Participate in the games and interaction session at TEDxIITGuwahati 2022 to receive exclusive amazing gifts from our gifting partners.
                                </p>
                                <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="margin-left: 1%;margin-bottom: 4%;">
                                    <a href="https://sustainityzerowaste.myinstamojo.com/"><img src="/static/images/partners_logo/SUSTAINITY.jpg" alt="" height="120px" width="120px" style="margin-left: 1%"></a>
                                    <a href="https://www.instagram.com/marinating_delicacies/?hl=en"><img src="/static/images/partners_logo/Marinating_Delicacies.jpg" alt="" height="140px" width="140px" style="margin-left: 1%;"></a>
                                    <a href="https://kaploths.com/"><img src="/static/images/partners_logo/kapiloths.jpg" alt="" height="120px" width="120px" style="margin-left: 1%;"></a>
                                    <a href="https://starttechacademy.com/"><img src="/static/images/partners_logo/start_tech.jpg" alt="" height="140px" width="140px" style="margin-left: 1%;"></a>
                                    <a href="https://www.grabon.in/"><img src="/static/images/partners_logo/grabon.jpg" alt="" height="130px" width="130px" style="margin-left: 1%;"></a>
                                    <a href="https://blurindia.com/"><img src="/static/images/partners_logo/blur.jpg" alt="" height="130px" width="130px" style="margin-left: 1%;"></a>
                                    <a href="#"><img src="/static/images/partners_logo/snack.png" alt="" height="140px" width="140px" style="margin-left: 1%;"></a>
                                </div>
                                </p> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="about-content-text" data-wow-delay="300ms">
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 5%;margin-bottom: 5%;text-align: center;">TEDxIITGuwahatiStudio Partners: </p>
                                <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="margin-left: 35%;margin-bottom: 4%;">
                                <img src="/static/images/partners_logo/coding_ninjas.jpg" alt="" height="130px" width="130px" style="margin-left: 20px;">
                                <img src="/static/images/partners_logo/edukemy.png" alt="" height="160px" width="160px" style="margin-left: 5%;">
                                </div>
                                </p> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="about-content-text" data-wow-delay="300ms">
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450;margin-top: 3%;margin-bottom: 5%;text-align: center;">Media Partners For TEDxIITGuwahati 2022: </p>
                                <div class="embed-container wow fadeInUp" data-wow-delay="300ms" style="margin-left: 13%;margin-bottom: 4%;">
                                <img src="/static/images/partners_logo/Ensemble.jpg" alt="" height="120px" width="120px" >
                                <img src="/static/images/partners_logo/EMN.jpg" alt="" height="130px" width="130px" style="margin-left: 5%;">
                                <img src="/static/images/partners_logo/durn.jpg" alt="" height="140px" width="140px" style="margin-left: 5%;">
                                <img src="/static/images/partners_logo/fr.jpg" alt="" height="130px" width="130px" style="margin-left: 5%;">
                                <img src="/static/images/partners_logo/startupnews.jpg" alt="" height="120px" width="120px" style="margin-left: 5%;">
                               
                                </div>
                                </p> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>
        <!-- About Us And Countdown Area End -->





<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-10-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Footer Logo -->
                        <a href="/" class="footer-logo"><img src='{% static "images/ted_white.png" %}' alt=""></a>
                        <!-- <p>Ideas Worth Spreading</p> -->

                        <!-- Social Info -->
                        <!-- <div class="social-info">
                            <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxiitguwahati.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a> -->
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                        <!-- </div> -->
                    </div>
                </div>

                <!-- Single Footer Widget Area  col-lg-3 -->
                <div class="col-12 col-sm-6">
                   <div class="single-footer-widget mb-60">
                       <br />
                        <h5 class="widget-title">Ideas Worth Spreading</h5>
                        <div class="footer-contact-info">
                            <p>This independent TEDx is operated under license from TED</p>
                            <!-- <p><i class="zmdi zmdi-map"></i> IIT Guwahati</p> -->
                            <!-- <p><i class="zmdi zmdi-phone"></i> Jaikishan Mansukhani:</p><p style="margin-left: 15px">+91 90757 19391 </p>
                            <p><i class="zmdi zmdi-email"></i> iitg.tedx@gmail.com</p> -->

                        </div>
                    </div>
                </div>
                

                <!-- Single Footer Widget Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                   <div class="single-footer-widget mb-60">
                       <div class="social-info">
                      <br>
                        <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxiitguwahati.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                    </div>

                   </div>
               </div>

                <!-- Single Footer Widget Area -->
<!--                    <div class="col-12 col-sm-6 col-lg-3">-->
<!--                        <div class="single-footer-widget mb-60">-->
<!--                            &lt;!&ndash; Widget Title &ndash;&gt;-->


<!--                            &lt;!&ndash; Footer Gallery &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </div>

<!--         Copywrite Area-->
    <!-- <div class="container">
        <div class="copywrite-content">
            <div class="row"> -->
                <!-- Copywrite Text -->
                <!-- <div class="col-12 col-md-6">
                    <div class="copywrite-text"> -->
                        <!--<p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                            <!-- This independent TEDx event is operated under license from TED. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>-->
                    <!-- </div>
                </div> -->
                <!-- Footer Menu -->
<!--                    <div class="col-12 col-md-6">-->
<!--                        <div class="footer-menu">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
            <!-- </div>
        </div>
    </div> -->
</footer>
<!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown1");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          this.classList.toggle("active");
          }
          });
        }
        </script>
    <!-- jQuery 2.2.4 -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Popper -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- All Plugins -->
    <script src='{% static "js/confer.bundle.js" %}'></script>
    <!-- Active -->
    <script src='{% static "js/default-assets/active.js" %}'></script>
    <!--  Form Script  -->
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbwjDvT8tRtGUd1_gG2Ayvmhz2WEKt8frWQ2_SV22z-cKUbBIrIi/exec'
        const form = document.forms['submit-to-google-sheet']

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
              .then(location.reload())
              .catch(error => console.error('Error!', error.message))
        })
    </script>
</body>
</html>
