<!--{% load crispy_forms_tags %}-->
<!DOCTYPE html>
{% load static %}

<html lang="en">
<!--<h1>{{ static }}</h1>-->
<!--<img src='{% static "images/TEDxIITGuwahati1.png" %}' alt="LOGO">-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>TEDxIITGuwahati 2022 | TEDxIITGuwahati</title>

    <!-- Favicon -->
    <link rel="icon" href='{% static "img/core-img/favicon.png" %}'/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href='{% static "style.css" %}'/>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                   <a class="nav-brand" href="/"><img src='{% static "images/ted_white.png" %}' alt="" width="390"/></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <ul class="dropdown">
                                    <li class="dropdown1"><a style="color:#ff2600;" href="#">Talks</a></li>
                                     <div class="dropdown-content">
                                        <a href="/speakers.html">TEDxIITGuwahati</a> 
                                     <a href="/speakers.html/form2.html">TEDxIITGuwahatiStudio</a>
                                     
                                    </div>
                                  </ul>
                                <li><a href="/blog.html">Blogs</a></li>                  
                                <li><a href="/about_us.html">About Us</a></li>
<!--                                <li><a href="/unrestricted.html">Unrestricted</a></li>-->
                                 
                                <li><a href="/contact.html">Contact Us</a></li>
                            </ul>

                            <!-- Get Tickets Button -->
<!--                            <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->


        <!-- Content Start -->
        
        <section class="about-us-countdown-area section-padding-80-0" style="background-color: #ffffff; z-index:100;" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <!-- About Content -->
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-12">
                            <div class="" data-wow-delay="300ms">
                                <style>
                                    .line{width: 12rem; height:6.5px; margin-left:0px; background-color:#FF2B06; border-radius: 1.5px;margin-top: 8%;}
                                    @media only screen and (max-width: 580px){
                                .line{
                                    margin-top: 12%;
                                }
                            }
                                </style>
                                <hr class="wow fadeInUp line" data-wow-delay="300ms" >
                                <h3 class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 195%;margin-bottom: 2%;">TED<span style="text-transform: lowercase;">x</span>IITGuwahati Theme 2022</h3>
                            
                            <div class="iframe-container">
                                <style>
                                        .theme{ height: 50%; width: 100%; }
                                        .embed-container { position: relative; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;}
                                        
                               </style>
                                                <div class="embed-container wow fadeInUp theme" data-wow-delay="300ms">
        
                                                    <img src='{% static "images/theme.png" %}' alt="">
                                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="about-content-text mb-80" data-wow-delay="300ms">
                                 <p class="wow fadeInUp" data-wow-delay="300ms" style="color:#FF2B06; font-size: 29px;font-weight: 450; text-align: center;margin-top: 3%;">Theme: The Boiling Frog Phenomenon</p>
                                <p class="wow fadeInUp" data-wow-delay="300ms" style="color:rgb(0, 0, 0); text-align: center;">
                                    TEDxIITGuwahati brings to you the theme for our upcoming event, ‘The Boiling Frog’. 
                                    <br>
                                    The phrase “The Boiling Frog” may appear to be hilarious at first, but it holds a much deeper meaning. As the tale goes, if you put a frog in a pan of boiling water, it will jump out at once. However, if you place it in a pot of gently lukewarm water and slowly heat it, the frog will stay in the water until it boils to death.
                                    <br>
                                    It is a metaphor for our lack of will or inability to react to threats that arise gradually rather than suddenly.So, are we laying the road for the ultimate catastrophe, just as the frog's ignorance led it to death?
                                    <br>
                                    Another aspect of this fable is the very leap of survival that the frog must take. It is a difficult endeavour involving great risk.
                                    <br>
                                    True innovations have always been found on this very edge.Are these moments of sheer inspiration massive disturbances that send waves ofrapture through the world, or are they quietly absorbed into our society?
                                </p> 
                            </div>
                        </div>
    
                        
                    </div>
                </div>
                    </div>
                </div>
        
            </div>
            
    </section>
    <!-- Content End -->

 <!-- Our Speakings Area Start -->
 <div class="container">
    <div class="row">
        <!-- Heading -->
        <div class="col-12">
            <div class="section-heading-3  wow fadeInUp" data-wow-delay="300ms">
                <hr style="width: 10rem; height:8px; margin-left:0px; margin-top:0px ; background-color:#FF2B06; border-radius: 1.5px;">
                <h2 style="margin-left: 0px;">
                    <font size="+5" color="#FF2B06">Upcoming Speakers</font>
                </h2>
            </div>
        </div>
    </div>
</div>

<section class="our-speaker-area section-padding-50">
    <div class="container">

        <div class="row" style="text-align:center;">
            <div class="row">

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{%static "images/speaker4/jalal.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/jalal.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Dr. Baland Jalal</span></h5>
                        <p>Neuroscientist and<br>Expert on Sleep Paralysis</p>

                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speaker4/Magician.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/Magician.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Pritam Patra</span></h5>
                        <p>Professional entertainer,<br>Also called Torque Magician</p>

                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speaker4/parvathy.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/parvathy.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Parvathy Sailesh</span></h5>
                        <p>Student<br>UnrestricTED Winner</p>

                    </div>
                </div>
                
                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speaker4/abhimanyu.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/abhimanyu.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Abhimanyu Singh</span></h5>
                        <p>Co-founder of Hexpressions</p>

                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speaker4/rishab_mandeep.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/rishab_mandeep.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Rishabh Jain and Mandeep Gill</span></h5>
                        <p>Co-Founders <br> Labour Law Advisor</p>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speaker4/Rohan.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/Rohan.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Rohan Agrawal</span></h5>
                        <p>Traveller </p>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speaker4/saumya.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/saumya.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Sawmya Ray</span></h5>
                        <p>Professor <br> Humanities and Social Sciences</p>

                    </div>
                </div>

                
                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speaker4/james.jpg" %}' alt="Avatar" style="widows: 100px">
                        </div>
                    </div>
                    <div class="speaker-info" onclick="location.href='speakers.html/james.html'" style="cursor: pointer">
                        <h5><span style="color:#FF2B06;">Richard James MacCowan</span></h5>
                        <p>BioFuturist <br>Founder-Biomimicry Innovation Lab</p>
                    </div>
                </div>
</section>




    <!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-10-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Footer Logo -->
                        <a href="/" class="footer-logo"><img src='{% static "images/ted_white.png" %}' alt=""></a>
                        <!-- <p>Ideas Worth Spreading</p> -->

                        <!-- Social Info -->
                        <!-- <div class="social-info">
                            <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxiitguwahati.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a> -->
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                        <!-- </div> -->
                    </div>
                </div>

                <!-- Single Footer Widget Area  col-lg-3 -->
                <div class="col-12 col-sm-6">
                   <div class="single-footer-widget mb-60">
                       <br />
                        <h5 class="widget-title">Ideas Worth Spreading</h5>
                        <div class="footer-contact-info">
                            <p>This independent TEDx is operated under license from TED</p>


                        </div>
                    </div>
                </div>
                

                <!-- Single Footer Widget Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                   <div class="single-footer-widget mb-60">
                       <div class="social-info">
                      <br>
                        <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxiitguwahati.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                    </div>

                   </div>
               </div>

                <!-- Single Footer Widget Area -->
<!--                    <div class="col-12 col-sm-6 col-lg-3">-->
<!--                        <div class="single-footer-widget mb-60">-->
<!--                            &lt;!&ndash; Widget Title &ndash;&gt;-->


<!--                            &lt;!&ndash; Footer Gallery &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </div>

<!--         Copywrite Area-->
    <!-- <div class="container">
        <div class="copywrite-content">
            <div class="row"> -->
                <!-- Copywrite Text -->
                <!-- <div class="col-12 col-md-6">
                    <div class="copywrite-text"> -->
                        <!--<p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                            <!-- This independent TEDx event is operated under license from TED. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>-->
                    <!-- </div>
                </div> -->
                <!-- Footer Menu -->
<!--                    <div class="col-12 col-md-6">-->
<!--                        <div class="footer-menu">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
            <!-- </div>
        </div>
    </div> -->
</footer>
<!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown1");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          this.classList.toggle("active");
          }
          });
        }
        </script>
    <!-- jQuery 2.2.4 -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Popper -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- All Plugins -->
    <script src='{% static "js/confer.bundle.js" %}'></script>
    <!-- Active -->
    <script src='{% static "js/default-assets/active.js" %}'></script>
    <!--  Form Script  -->
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbwjDvT8tRtGUd1_gG2Ayvmhz2WEKt8frWQ2_SV22z-cKUbBIrIi/exec'
        const form = document.forms['submit-to-google-sheet']

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
              .then(location.reload())
              .catch(error => console.error('Error!', error.message))
        })
    </script>
</body>
</html>